.icon-shopping {
    margin-right: 3rem;
    position: fixed;
    bottom: 10%;
    right: 0;
    padding: 0;
    z-index: 1000000;
    background-color: var(--color-1);
    color: var(--color-2);
    border-radius: 10px;
}

.modal {
    position: fixed;
    top: 25vh;
}

.badge {
    font-size: 10px;
    border: 2px solid var(--color-2);
}

.modal-footer {
    justify-content: space-between;
}