<!-- Button trigger modal -->

<div class="icon-shopping" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="uil uil-shopping-cart position-relative" style="font-size: 40px;">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
            {{(data$ | async)!.length}}
            <span class="visually-hidden">unread messages</span>
        </span>
    </i>
</div>
<!-- Modal -->
<div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: var(--color-1);">Tu pedido</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ag-grid-angular *ngIf="(data$ | async)!.length > 0" style="width: 100%; height:200px"
                    class="ag-theme-alpine" [rowData]="data$ | async" [columnDefs]="columnDefs">
                </ag-grid-angular>
                <div class="text-center">
                    <h1 *ngIf="(data$ | async)!.length == 0">Tu carrito esta vacio!</h1>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>