<!-- As a heading -->
<nav class="navbar  ">
  <div class="container-fluid ">
    <span class="navbar-brand mb-0 h1 ">
      <i class="uil uil-restaurant"></i>

    </span>
    <div class="register" *ngIf="login">
      <button type="button" class="btn btn-danger " (click)="openDialogRegister()">Registrarse</button>
      <button type="button" class="btn btn-danger " (click)="openDialogSingIn()">Iniciar sesión</button>
    </div>
    <div class="dropdown" *ngIf="!login">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{user.email}}
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/orders">Pedidos</a></li>
        <li><a class="dropdown-item" routerLink="/main">Hacer pedido</a></li>
        <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>