<!-- As a heading -->
<nav class="navbar  ">
  <div class="container-fluid ">
    <span class="navbar-brand mb-0 h1 ">
      <i class="uil uil-restaurant"></i>

    </span>
    <div class="register" *ngIf="login">
      <button type="button" class="btn btn-danger " (click)="openDialog()">Registrarse</button>
    </div>
    <div class="dropdown" *ngIf="!login">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Leandro | Almiron
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><a class="dropdown-item" href="#">Pedidos</a></li>
        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal user register material ui -->


<!-- Modal User Register-->


<!-- <div *ngIf="accountSuccesses" class="alert alert-success animate__animated animate__zoomIn" role="alert"
  style="position: fixed; bottom: 0; right: 0; z-index: 100000;">
  Su cuenta se ha creado con exito!
</div> -->