<form [formGroup]="form" class="col-12" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [options]="options" [fields]="fields" [model]="model"></formly-form>
    <div class="d-flex justify-content-end p-2">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Crear cuenta</button>
    </div>
</form>

<!-- <h2 mat-dialog-title>Registrate<h2>
<mat-dialog-content class="mat-typography">
    <ng-container>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Correo electronico:</mat-label>
                <input type="email" matInput [formControl]="email" [errorStateMatcher]="matcher"
                    placeholder="Ejem. pat@example.com">
              
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Introducir un email valido.
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                    Complete el campo requerido.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Contraseña:</mat-label>
                <input type="password" matInput [formControl]="password" [errorStateMatcher]="matcher"
                    placeholder="Contraseña">

                <mat-error *ngIf="isGreater() && !password.hasError('required')">
                    Se solicita una contraseña de al menos 6 caracteres.
                </mat-error>
                <mat-error *ngIf="password.hasError('required')">
                    La contraseña es requerida.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Confirmacion:</mat-label>
                <input type="password" matInput [formControl]="rePassword" [errorStateMatcher]="matcher"
                    placeholder="Contraseña">
              
                <mat-error *ngIf="!passwordMatch() && !rePassword.hasError('required')">
                    La contraseña debe coincidir
                </mat-error>
                <mat-error *ngIf="rePassword.hasError('required')">
                    La contraseña es requerida.
                </mat-error>
            </mat-form-field>
        </form>
    </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end" class="justify-content-between">
    <div><button mat-button mat-dialog-close>Cancelar</button></div>
    <div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()"
            [disabled]="!(email.valid && password.valid && rePassword.valid && passwordMatch() )">Crear cuenta</button>
    </div>
</mat-dialog-actions> -->