.order {
  padding: 1.5rem;
  margin: 1rem;

}

.notOrders {
  text-align: center;
  color: var(--color-1);
  margin: 1rem;
  padding: 2rem;
  width: 50%;
  background-color: var(--color-2);
}

img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
}